body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.navbar {
  width: 100%;
  height: 100px;
  background: #E73D3D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search label {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0;
}

#GET-pokemon {
  width: 272px;
  height: 42px;
  background: #D9D9D9;
  border-radius: 5px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  overflow: auto;
  width: 272px;
  height: auto;
  max-height: 165px;
  background-color: #D9D9D9;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding: 0;
}

.list-items {
  padding: 10px 5px;
}

.list-items:hover {
  background-color: #ffffff;
}

#submit {
  width: 117px;
  height: 26px;
  background: #E73D3D;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 25px;
}

.card {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 351px;
  height: 535px;
  background: #DD6C6C;
  border: 10px solid #E4D22A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.card-header {
  width: 100%;
  height: 213px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header p {
  padding: 0;
  margin: 0px 1.5px 0px 1.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.card-header img {
  width: 213px;
  height: 213px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.grey {
  width: 316px;
  height: 277px;

  display: flex;
  flex-direction: column;
  align-items: center;


  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  gap: 5px;
}

.name p {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
}

.label-stats p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.label-stats-ADS {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label-stats-ADS p {
 margin: 0;
 padding: 0; 
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats p {
 margin: 0;
 padding: 0; 
}

.flex-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.type {
  margin: 0;
  padding: 0;
  width: 95px;
  height: 22px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  text-align: center;
 }

 .info {
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 .info p {
  margin: 0;
  padding: 0;
 }

 .info-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
 }

 .info-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
 }

.line {
  width: 307px;
  height: 0px;
  background: #000000;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  filter: opacity(50%);
}

#pokeapi {
  width: 44px;
  height: 18px;
  filter: opacity(50%);
}